body {
    font-family: "comic sans ms";
    background-color: lime;
    color: red;
}
.container {
    border: 2px red solid;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}



#heroBox {
    border: 2px blue solid;
    display: flex;
    justify-content: space-around;
    min-height: 100px;

}

#enemySelectionBox {
    @extend #heroBox;
    border-color: green;
}

#enemyBox {
    @extend #heroBox;
    border-color: orange;
}

#messageBox {
    @extend #heroBox;
    border-color: purple;
    justify-content: center;
        p {
            padding: 20px 0;
        }
}

.character {
    border: 2px solid yellow;
    text-align: center;
}

.selectable:hover {
    color: green;
    cursor: pointer;
    filter: invert(100%);
}

.poke_image {
    height: 100px;
    max-width: 100%;
}

footer {
    text-align: center;
}